* {
  margin: 2px;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

@media (min-width: 1024px) {
  .wrap {
    border: 3px solid red;
  }
  header {
    height: 123px;
    background: lightblue;
  }
  main > .visual {
    height: 300px;
    background: lightgreen;
    border: 3px solid #111;
  }
  main > .cont01 {
    width: 100%;
    height: 270px;
    display: flex;
    justify-content: center;
    gap: 10px;
    border: 3px solid #111;
    margin: 10px 0;
  }
  main > .cont01 > .box01 {
    width: 280px;
    background: lightcoral;
  }
  main > .cont01 > .box02 {
    width: 380px;
    background: lightcoral;
  }
  main > .cont01 > .box03 {
    width: 280px;
    background: lightcoral;
  }
  main > .cont02 {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    gap: 10px;
    border: 3px solid #111;
    margin: 10px 0;
  }
  main > .cont02 > .box04 {
    width: 280px;
    background: lightseagreen;
  }
  main > .cont02 > .box05 {
    width: 380px;
    background: lightseagreen;
  }
  main > .cont02 > .box06 {
    width: 280px;
    background: lightseagreen;
  }
  footer {
    height: 110px;
    background: lightgoldenrodyellow;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .wrap {
    border: 3px solid red;
  }
  header {
    height: 123px;
    background: lightblue;
  }
  main > .visual {
    height: 300px;
    background: lightgreen;
    border: 3px solid #111;
  }
  main > .cont01 {
    width: 100%;
    height: 270px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    border: 3px solid #111;
    margin: 10px 0;
  }
  main > .cont01 > .box01 {
    width: 48%;
    background: lightcoral;
  }
  main > .cont01 > .box02 {
    width: 48%;
    background: lightcoral;
  }
  main > .cont01 > .box03 {
    width: 100%;
    background: lightcoral;
  }
  main > .cont02 {
    width: 100%;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    border: 3px solid #111;
    margin: 10px 0;
  }
  main > .cont02 > .box04 {
    width: 48%;
    background: lightseagreen;
  }
  main > .cont02 > .box05 {
    width: 48%;
    background: lightseagreen;
  }
  main > .cont02 > .box06 {
    width: 100%;
    background: lightseagreen;
  }
  footer {
    height: 110px;
    background: lightgoldenrodyellow;
  }
}
@media (max-width: 768px) {
  .wrap {
    border: 3px solid red;
  }
  header {
    height: 80px;
    background: lightblue;
  }
  main > .visual {
    height: 270px;
    background: lightgreen;
    border: 3px solid #111;
  }
  main > .cont01 {
    width: 100%;
    height: 270px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    border: 3px solid #111;
    margin: 10px 0;
  }
  main > .cont01 > .box01 {
    width: 100%;
    background: lightcoral;
  }
  main > .cont01 > .box02 {
    width: 100%;
    background: lightcoral;
  }
  main > .cont01 > .box03 {
    width: 100%;
    background: lightcoral;
  }
  main > .cont02 {
    width: 100%;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    border: 3px solid #111;
    margin: 10px 0;
  }
  main > .cont02 > .box04 {
    width: 100%;
    background: lightseagreen;
  }
  main > .cont02 > .box05 {
    width: 100%;
    background: lightseagreen;
  }
  main > .cont02 > .box06 {
    width: 100%;
    background: lightseagreen;
  }
  footer {
    height: 110px;
    background: lightgoldenrodyellow;
  }
}/*# sourceMappingURL=layout.css.map */